# Typical binary files
**/*.bin
**/*.hex
**/*.exe

# C/C++ and Java compilation objects/artifacts
**/*.o
**/*.class

# VSCode workspace/project settings
.vscode

# Python caches
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc

# Internal Server files
src/instance