# Typical binary files
**/*.bin
**/*.hex
**/*.exe

# C/C++ and Java compilation objects/artifacts
**/*.o
**/*.class

# VSCode workspace/project settings
.vscode

# Python caches
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc

# Internal Server files
src/instance

# Secret config info (i.e. secret key for cookies, database username(s) and password(s))
src/config.py
