/* HOME PAGE EDITING */
.btn-group button{
	background-color:grey;
	font-size: 20px;
	font-family: "Amatic SC", cursive;
	font-weight: bold;
	border: 1px solid black;
	color: whitesmoke;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left; /*buttons side by side*/
	transition: all 0.5s;
	cursor: pointer;
	margin: 2px;
	margin-bottom: 50px;
}

.btn-group button:hover{
	background-color:ivory;
}

.btn2-group button {
	background-color:grey;
	font-size: 20px;
	font-family: "Amatic SC", cursive;
	font-weight: bold;
	border: 1px solid black;
	color: whitesmoke;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left; /*buttons side by side*/
	transition: all 0.5s;
	cursor: pointer;
	margin-left: 375px;
}

.btn2-group button:hover{
	background-color:ivory;
}
body#home{
	background-image: url(img/Background.PNG);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.homeimg{
	display: block;
	margin-left: 80px;
}

.homeH3{
	font-family: "Goudy Old Style", serif;
	color: white;
	font-weight: bolder;
	font-size:40px;
	margin-left: 365px;
}
/* ABOUT PAGE EDITING */
body#about{
	background-image: url(img/aboutPageBackground.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#h3-aboutpage{
	color: black;
	text-indent: 30px;
	font-size: 30px;
	font-family: "Goudy Old Style", serif;
	font-weight: bold;
	text-align: center;
}
#p-aboutpage{
	color: black;
	text-indent: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	font-size: 20px;
	font-family: "Goudy Old Style", serif;
	font-weight: bold;
	text-align: center;
}

.aboutimg{
	display: block;
	width: 100%;
	height: 400px;
}

/* CONTACT PAGE EDITING */
.contactH2{
    text-align: center;
    font-family: "Goudy Old Style", serif;
	color: white;
	font-weight: bolder;
	font-size:40px;
}
#contact{
	background-image: url(img/contactPageBackground.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}
.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
	padding: 3%;
}
.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
	padding: 3%;
}
.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}
.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.contactimg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 17%;
	height: 17%;
}

/* INPUT PAGE EDITING */
.inputPage{
	background-color: lightgray;
	margin-top: 5%;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border-radius: 25px;
}
body#input{
	background-image: url(img/erauimg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:20px;
}
.inputForm{
	font-size: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

/* LOOK UP PAGE EDITING */
body#lookup{
	background-image: url(img/lookUpBackground.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
}
.lookupH1{
	position: relative;
	left: 50px;
	font-size: 35px;
	top: 110px;
}
#p-lookUpPage{
	position: relative;
	left: 20px;
	top: 140px;
}
.lookForm{
		font-size: 15px;
		position: relative;
		left: 75px;
		top: 40px;
}	
.lookUpPage{
	background-color: lightgray;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 5%;
	margin-right: 5%;
	width: 83%;
	height: 66vh;	
}
.lookimg{
	position: relative;
	display: block;
	height: 60vh;
	width: 60%;
	margin-left: 40%;
	margin-right: auto;
	bottom: 150px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}