
.btn-group button{
	background-color:grey;
	font-size: 20px;
	font-family: "Amatic SC", cursive;
	font-weight: bold;
	border: 1px solid black;
	color: whitesmoke;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left; /*buttons side by side*/
}
