/* trying to create a background look */
html, body {
margin: 0;
width: 100%;
background-image: url(Background.PNG);
background-size: cover;
background-position: center;
}

.wrapper {
    width: 100%;
    height: 100vh;
    text-align: center;

}

.btn-group button{
	background-color: #FF80A8;
	border: 1px solid black;
	color: black;
	float: left; /*buttons side by side*/
}

